<template>
    <h1 class="text-4xl text-gray-800 font-bold">About</h1>
</template>

<script>
    export default {
        name: 'About',

        data() {
            return {};
        },
    };
</script>

<style lang="css" scoped></style>
